.productos-container {
  display: grid;
  grid-template-columns: repeat(4, 280px); /* antes era 1fr, ahora tarjetas más anchas */
  gap: 40px;
  padding: 100px;
  justify-content: center;
  background-color: #eeeeee;
}


  
  .producto-card {
  background-color: white;
  border-radius: 12px;
  width: 280px;
  height: 420px; /* Fijamos altura para que todas midan lo mismo */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Padding superior para la imagen */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  transition: transform 0.2s;
  }

  .producto-card:hover {
  transform: translateY(-4px);
  }

  
  .producto-card img {
    width: 100%;
    height: 200px;
    object-fit: contain; /* o 'cover' si quieres que se ajuste sin bordes */
    border-radius: 10px;
  }
  
  
  
  .producto-card h3 {
    font-size: 16px;
    color: #222;
    margin: 10px 0;
    min-height: 48px; /* Fuerza espacio para 2-3 líneas */
    overflow: hidden;
  }
  
  
  .marca {
    font-size: 14px;
    color: gray;
  }
  
  .precio-original {
    text-decoration: line-through;
    color: rgb(130, 130, 130);
    font-size: 14px;
  }
  
  .precio-actual {
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }

  .productos-banner-video {
    position: relative;
    width: 100%;
    height: 775px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .productos-banner-video video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* <-- cambia de cover a contain */
  }

  .coleccion-header {
    background-color: #000; /* Fondo negro */
    color: white;
    padding: 10rem;
    text-align: center;
    border-bottom: 1px solid #333;
  }
  
  .filtros {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }
  
  .filtro-btn,
  .caracteristicas-btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    font-weight: 800;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 12px;
  }
  
  .filtro-btn:hover,
  .caracteristicas-btn:hover {
    background-color: white;
    color: #000;
  }  
  
  .descripcion {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .producto-card-wrapper {
    width: 100%; /* se ajusta al grid */
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .producto-card-wrapper {
    width: 100%; /* se ajusta al grid */
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }    
  
  
  .producto-imagen-flotante {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: auto;
    z-index: 2;
  }
  
  
  
  
  
  
  
