.navbar {
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 0; /* top right bottom left */
}

.navbar-logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: #1d1d1f;
  margin-left: 25px;
  padding: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin: 0 auto;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #1d1d1f;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.5rem 1.8rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: transparent;
  border: 1px solid transparent;
  display: inline-block;
}

.navbar-links li a:hover {
  background-color: #e0e0e0; /* Gris claro */
  color: #1d1d1f;
  border-color: #e0e0e0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  cursor: pointer;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  font-size: 1.4rem;
  color: #1d1d1f;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #0071e3;
}

.search-animated-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-animated-input {
  width: 0;
  opacity: 0;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin-right: 0.5rem;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: width 0.3s cubic-bezier(.4,2,.6,1), opacity 0.2s;
  position: absolute;
  right: 2.2rem;
  z-index: 10;
}

.search-animated-container input.search-animated-input {
  width: 180px;
  opacity: 1;
}

.icon-search {
  z-index: 20;
}
